@page "/products"
@inject NavigationManager Nav

<PageTitle>Products</PageTitle>

<h3>Products</h3>

<br />
<button @onclick='() => Nav.NavigateTo("/about")'>About</button>
<button @onclick='() => Nav.NavigateTo("/solutions")'>Solutions</button>
<button @onclick='() => Nav.NavigateTo("/services")'>Services</button>
<button @onclick='() => Nav.NavigateTo("/technology")'>Technology</button>
<button @onclick='() => Nav.NavigateTo("/products")'>Products</button>
<button @onclick='() => Nav.NavigateTo("/penversity")'>Penversity</button>
<button @onclick='() => Nav.NavigateTo("/contact")'>Contact</button>
<br />

@if (p == 1)
{
	<p>Bancassurance System</p>
}
@if (p == 2)
{
	<p>Pension & Annuities Management System</p>
}
@if (p == 3)
{
	<p>Estate Management System</p>
}
@if (p == 4)
{
	<p>IT Service Management System</p>
}
@if (p == 5)
{
	<p>Africabima Insurance Platform</p>
}
@if (p == 6)
{
	<p>Robotic Process Automation (RPA) System</p>
}
@if (p == 7)
{
	<p>Blockchain Systems</p>
}
@if (p == 8)
{
	<p>Job Evaluation System</p>
}
@if (p == 9)
{
	<p>Enterprise Resource Planning</p>
}

<button @onclick="Next">Next</button>

@code
{
	int p = 1;
	void Next()
	{
		if (p >= 9)
		{
			p = 1;
		}
		else
		{
			p = p + 1;
		}
	}
}