@page "/services"
@inject NavigationManager Nav

<PageTitle>Services</PageTitle>

<h3>Services</h3>

<br />
<button @onclick='() => Nav.NavigateTo("/")'>Home</button>
<button @onclick='() => Nav.NavigateTo("/about")'>About</button>
<button @onclick='() => Nav.NavigateTo("/solutions")'>Solutions</button>
<button @onclick='() => Nav.NavigateTo("/services")'>Services</button>
<button @onclick='() => Nav.NavigateTo("/technology")'>Technology</button>
<button @onclick='() => Nav.NavigateTo("/products")'>Products</button>
<button @onclick='() => Nav.NavigateTo("/penversity")'>Penversity</button>
<button @onclick='() => Nav.NavigateTo("/contact")'>Contact</button>
<br />

